<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改考勤组排班子')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-son-edit" th:object="${hrAttendanceGroupSon}">
            <input name="id" th:field="*{id}" type="hidden">
            <input name="empId" th:field="*{empId}" type="hidden">
            <input name="parentId" th:field="*{parentId}" type="hidden">
            <input name="createId" th:field="*{createId}" type="hidden">
            <input name="createBy" th:field="*{createBy}" type="hidden">
            <input name="delFlag" th:field="*{delFlag}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">员工ID：</label>
                <div class="col-sm-8">
                    <input name="empName" th:field="*{empName}" class="form-control" type="text" required readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排班日期：</label>
                <div class="col-sm-8">
                    <input name="scheduDate" th:field="*{scheduDate}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">当月班次</label>
                <div class="col-sm-8">
                    <select name="classId1" class="form-control m-b" th:with="type=${classList}">
                        <option value="">休息</option>
                        <option th:each="classes : ${type}" th:text="${classes.name}" th:value="${classes.id}"></option>
                    </select>
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "hr/groupSon";
        $("#form-son-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-son-edit').serialize());
            }
        }
    </script>
</body>
</html>