<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hr.mapper.CopyToMapper">
    <resultMap type="com.ruoyi.base.domain.CopyTo" id="CopyToResult">
        <id property="id" column="id"/>
            <result property="empId" column="emp_id"/>
            <result property="empName" column="emp_name"/>
            <result property="userId" column="user_id"/>
            <result property="deptId" column="dept_id"/>
            <result property="postId" column="post_id"/>
            <result property="processKey" column="process_key"/>
            <result property="createId" column="create_id"/>
            <result property="updateId" column="update_id"/>
            <result property="createBy" column="create_by"/>
            <result property="updateBy" column="update_by"/>
            <result property="remark" column="remark"/>
            <result property="delFlag" column="del_flag"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="baseColumns">
            entity.id,
            entity.emp_id,
            entity.emp_name,
            entity.user_id,
            entity.dept_id,
            entity.post_id,
            entity.process_key,
            entity.create_id,
            entity.update_id,
            entity.create_by,
            entity.update_by,
            entity.remark,
            entity.del_flag,
            entity.create_time,
            entity.update_time
        </sql>

    <select id="selectCopyToList" parameterType="com.ruoyi.base.domain.CopyTo" resultMap="CopyToResult">
        select <include refid="baseColumns"/> from t_copy_to entity
        <where>
            <if test="empId != null "> and entity.emp_id = #{empId}</if>
                <if test="empName != null "> and entity.emp_name like concat('%', #{empName}, '%')</if>
                <if test="userId != null "> and entity.user_id = #{userId}</if>
                <if test="deptId != null "> and entity.dept_id = #{deptId}</if>
                <if test="postId != null "> and entity.post_id = #{postId}</if>
                <if test="processKey != null  and processKey != ''"> and entity.process_key = #{processKey}</if>
                <if test="createId != null "> and entity.create_id = #{createId}</if>
                <if test="updateId != null "> and entity.update_id = #{updateId}</if>
          <if test="delFlag != null  and delFlag != ''"> and entity.del_flag = #{delFlag} </if>
</where>
    </select>

    <select id="selectProcessCopyerCount" parameterType="com.ruoyi.base.domain.CopyTo" resultType="long">
        SELECT COUNT(*) FROM t_copy_to a WHERE a.process_key = #{processKey} AND a.del_flag = '0'
    </select>

    <update id="deleteCopyToById" parameterType="Long">
        update  t_copy_to set del_flag =  '1' where id = #{id}
    </update>

    <update id="deleteCopyToByIds" parameterType="String">
        update  t_copy_to set del_flag =  '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
