<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hr.mapper.HrEmpTransfersMapper">
    <resultMap type="com.ruoyi.base.domain.HrEmpTransfers" id="HrEmpTransfersResult">
        <id property="id" column="id"/>
            <result property="parentId" column="parent_id"/>
            <result property="name" column="name"/>
            <result property="type" column="type"/>
            <result property="transferTime" column="transfer_time"/>
            <result property="beforeStatus" column="before_status"/>
            <result property="afterStatus" column="after_status"/>
            <result property="createId" column="create_id"/>
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time"/>
            <result property="updateId" column="update_id"/>
            <result property="updateBy" column="update_by"/>
            <result property="updateTime" column="update_time"/>
            <result property="remark" column="remark"/>
            <result property="delFlag" column="del_flag"/>
    </resultMap>
    <sql id="baseColumns">
            entity.id,
            entity.parent_id,
            entity.name,
            entity.type,
            entity.transfer_time,
            entity.before_status,
            entity.after_status,
            entity.create_id,
            entity.create_by,
            entity.create_time,
            entity.update_id,
            entity.update_by,
            entity.update_time,
            entity.remark,
            entity.del_flag
        </sql>

    <select id="selectHrEmpTransfersList" parameterType="com.ruoyi.base.domain.HrEmpTransfers" resultMap="HrEmpTransfersResult">
        select <include refid="baseColumns"/> from t_hr_emp_transfers entity
        where  entity.del_flag = '0'
            <if test="parentId != null "> and entity.parent_id = #{parentId}</if>
                <if test="name != null  and name != ''"> and entity.name like concat('%', #{name}, '%')</if>
                <if test="type != null  and type != ''"> and entity.type = #{type}</if>
                <if test="transferTime != null "> and entity.transfer_time = #{transferTime}</if>
                <if test="beforeStatus != null  and beforeStatus != ''"> and entity.before_status = #{beforeStatus}</if>
                <if test="afterStatus != null  and afterStatus != ''"> and entity.after_status = #{afterStatus}</if>
                <if test="createId != null "> and entity.create_id = #{createId}</if>
                <if test="updateId != null "> and entity.update_id = #{updateId}</if>
          <if test="delFlag != null  and delFlag != ''"> and entity.del_flag = #{delFlag} </if>

    </select>


    <update id="deleteHrEmpTransfersById" parameterType="Long">
        update  t_hr_emp_transfers set del_flag =  '1' where id = #{id}
    </update>

    <update id="deleteHrEmpTransfersByIds" parameterType="String">
        update  t_hr_emp_transfers set del_flag =  '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
