<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增转正申请')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-regular-add">

        <input name="title" id="title" class="form-control" type="text" style="display: none;">

        <div class="form-group" style="display: none">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>部门：</label>
            <div class="col-sm-8">
                <select name="deptId" class="form-control m-b" th:with="deptAll=${@deptService.getDeptAll()}" disabled="disabled">
                    <option value="">请选择</option>
                    <option th:each="dept : ${deptAll}" th:text="${dept.getShowName()}" th:value="${dept.getDeptId()}" th:selected="${dept.getDeptId() == hrEmp?.deptId}" th:hidden="${dept.getStatus() == '1' || dept.getDelFlag() != '0' }"></option>
                </select>
                <!--<span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>-->
            </div>
        </div>
        <div class="form-group" style="display: none" >
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>岗位：</label>
            <div class="col-sm-8">
                <select name="postId" class="form-control m-b" th:with="postAll=${@postService.getPostAll()}" disabled="disabled">
                    <option value="">请选择</option>
                    <option th:each="post : ${postAll}" th:text="${post.getPostName()}" th:value="${post.getPostId()}" th:selected="${post.getPostId() == hrEmp?.postId}" th:hidden="${post.getStatus() == '1'}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>入职时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="nonManagerDate" class="form-control" placeholder="yyyy-MM-dd" readonly="readonly" type="text" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>转正时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="regularTime" class="form-control" placeholder="yyyy-MM-dd" readonly="readonly" type="text" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>试用期限：</label>
            <div class="col-sm-8">
                <input name="trial" id="trial" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>试用期内对工作的总结：</label>
            <div class="col-sm-8">
                <textarea name="sumUp" id="sumUp" class="form-control"  required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>对公司的意见和建议：</label>
            <div class="col-sm-8">

                <textarea name="suggest" id="suggest" class="form-control"  required></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="remark" id="remark" class="form-control"  ></textarea>
            </div>
        </div>
        <div th:replace="include/fileUploadUtil::fileUploadUtil('上传附件',5)" ></div>

    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
    var prefix = ctx + "hr/regular"
    $("#form-regular-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {

            if ($('input[name="nonManagerDate"]').val() >= $('input[name="regularTime"]').val()) {
                $.modal.alertWarning("转正时间必须大于入职时间");
                return;
            }

            //上传图片
            $("#testListAction").click();
            if (!$("#demoList").html()){
                //没有图片直接提交表单
                submitFrom();
            }

        }
    }

    function submitFrom(){
        $('input[name="title"]').val('[[${hrEmp?.empName}]]转正申请');
        $("select[name=deptId]").attr("disabled",false);
        $("select[name=postId]").attr("disabled",false);
        $.operate.save(prefix + "/add", $('#form-regular-add').serialize());
    }


    $("input[name='regularTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='nonManagerDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='applyTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>