<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('财务付款流程列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li class="select-time">
                                <label>申请时间：</label>
                                <input type="text" class="time-input" id="createTime" placeholder="申请时间" name="createTime"/>
                            </li>

                            <li>
                                <label>付款类型：</label>
                                <select name="type" th:with="type=${@dict.getType('paymentType')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <!--<li>
                                <label>付款方式：</label>
                                <select name="mode" th:with="type=${@dict.getType('paymentMode')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>-->

                            <li>
                                <label>审核状态：</label>
                                <select name="auditStatus" th:with="type=${@dict.getType('auditStatus')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="hr:payment:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table class="my-bootstrap-table" id="bootstrap-table"></table>
            </div>
        </div>
    </div>

     <div class="container-div" id="hiddenDiv" hidden="hidden">
         <div class="row">
             <form class="form-horizontal m" id="form-toolRepeal">
                 <div class="btn-group-sm" id="toolRepeal" >
                     <div class="form-group">
                         <input name="instanceId" id="instanceId" class="form-control" type="hidden">
                         <label class="col-sm-3 control-label is-required">撤回理由：</label>
                         <div class="col-sm-8">
                             <input name="message" class="form-control" type="text" required>
                         </div>
                     </div>
                 </div>
             </form>
         </div>
     </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('hr:payment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('hr:payment:remove')}]];
        var typeDatas = [[${@dict.getType('paymentType')}]];
        var companyTypeDatas = [[${@dict.getType('paymentCompanyType')}]];
        var modeDatas = [[${@dict.getType('paymentMode')}]];
        var auditStatusDatas = [[${@dict.getType('auditStatus')}]];
        var depts = [[${@deptService.getDeptAll()}]];
        var posts = [[${@postService.getPostAll()}]];
        var currentUser = [[${currentUser}]];
        var prefix = ctx + "hr/payment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                detailUrl: prefix + "/edit/{id}",
                sortName: "createTime",
                sortOrder: "desc",
                modalName: "财务付款流程",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: '主键ID',
                    visible: false
                },
                {
                    field: 'title', 
                    title: '标题',
                    visible: false
                },
                {
                    field: 'reason', 
                    title: '付款事由',
                    visible: false
                },
                {
                    field: 'applyUserName',
                    title: '姓名'
                },
                {
                    field: 'deptId',
                    title: '部门',
                    formatter: function(value, row, index) {
                        return $.table.selectDeptLabel(depts, value);
                    },
                    visible: false
                },
                {
                    field: 'postId',
                    title: '岗位',
                    formatter: function(value, row, index) {
                        return $.table.selectPostLabel(posts, value);
                    },
                    visible: false
                },
                {
                    field: 'type', 
                    title: '付款类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(typeDatas, value);
                    }
                },
                {
                    field: 'companyType',
                    title: '公司类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(companyTypeDatas, value);
                    }
                },
                {
                    field: 'amount', 
                    title: '付款总额'
                },
                {
                    field: 'mode', 
                    title: '付款方式',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(modeDatas, value);
                    }
                },
                {
                    field: 'paymentDate', 
                    title: '支付日期'
                },
                {
                    field: 'object', 
                    title: '支付对象'
                },
                {
                    field: 'bank', 
                    title: '开户行'
                },
                {
                    field: 'account', 
                    title: '银行账户'
                },
                {
                    field: 'attachment', 
                    title: '附件',
                    visible: false
                },
                {
                    field: 'empId', 
                    title: '员工id',
                    visible: false
                },
                {
                    field: 'instanceId', 
                    title: '流程实例ID',
                    visible: false
                },
                {
                    field: 'createTime',
                    title: '申请时间'
                },
                {
                    field: 'createId', 
                    title: '创建者id',
                    visible: false
                },
                {
                    field: 'updateId', 
                    title: '更新者id',
                    visible: false
                },
                {
                    field: 'remark', 
                    title: '备注',
                    visible: false
                },
                {
                    field: 'taskName',
                    title: '当前任务名称',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '<span class="badge badge-primary">' + value + '</span>';
                    }
                },
                {
                    field: 'todoUserName',
                    title: '当前处理人'
                },
                {
                    field: 'auditStatus', 
                    title: '审核状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(auditStatusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (row.instanceId) {
                            actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-eye"></i> 表单数据</a> ');
                            actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="showHistoryDialog(\'' + row.instanceId + '\')"><i class="fa fa-list"></i> 审批历史</a> ');
                            actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="showProcessImgDialog(\'' + row.instanceId + '\')"><i class="fa fa-image"></i> 进度查看</a> ');
                            if (row.delFlag == 0 && (row.auditStatus == 0 || row.auditStatus == 1)){
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="repeal(\'' + row.instanceId + '\',\'' + row.createBy + '\')"><i class="fa fa-remove"></i>撤回</a>');
                            }
                        } else {
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="submitApply(\'' + row.id + '\',\'' + row.createBy + '\')"><i class="fa fa-user"></i> 提交申请</a> ');
                            actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editForm(\'' + row.id + '\',\'' + row.createBy + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="removeForm(\'' + row.id + '\',\'' + row.createBy + '\')"><i class="fa fa-remove"></i> 删除</a>');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function submitApply(id, createBy) {
            if (createBy !== currentUser.loginName) {
                $.modal.alertWarning("不允许非创建人提交申请！");
                return;
            }
            $.modal.confirm("确认要提交申请吗?", function() {
                var url = prefix + "/submitApply";
                var data = { "id": id };
                $.operate.submit(url, "post", "json", data);
            });
        }

        function editForm(id, createBy) {
            if (createBy !== currentUser.loginName) {
                $.modal.alertWarning("不允许非创建人编辑表单！");
                return;
            }
            $.operate.edit(id);
        }

        function removeForm(id, createBy) {
            if (createBy !== currentUser.loginName) {
                $.modal.alertWarning("不允许非创建人删除表单！");
                return;
            }
            $.operate.remove(id);
        }

        /* 查看审批历史 */
        function showHistoryDialog(instanceId) {
            var url = ctx + 'process/general/historyList/' + instanceId;
            $.modal.open("查看审批历史", url);
        }

        function showProcessImgDialog(instanceId) {
            var url = ctx + 'process/general/processImg/' + instanceId;
            $.modal.open("查看流程图 (标红表示已结束或活动中的流程)", url);
        }

        function repeal(instanceId,createBy){
            if (createBy !== currentUser.loginName) {
                $.modal.alertWarning("不允许非创建人撤销申请！");
                return;
            }
            var url = prefix + "/repeal";
            $('#instanceId').val(instanceId);
            layer.open({
                type: 1,
                area: ['600px', '300px'],
                fix: false,
                //不固定
                maxmin: true,
                shade: 0.3,
                title: "撤销申请",
                content: $('#hiddenDiv'),
                btn: ['确定', '关闭'],
                // 弹层外区域关闭
                shadeClose: false,
                yes: function(index) {
                    if ($.validate.form('form-toolRepeal')) {
                        $.operate.save(url, $('#form-toolRepeal').serialize());
                    }
                }
            });
        }

    </script>
</body>
</html>